*{
    margin: 0 auto;
}
header{
    display: flex;
    background-color: rgb(226, 194, 154);
}
header img{
    margin-left: 0px;

}
header h1{
    margin-left: 0px;
    margin-right: 700px;
}
header a{
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 150px;
    text-decoration: none;
    color: black;
}
.carrinho img{
    width: 40px;
    margin: 50px;
}
 .flor1{
    background-color: rgb(145, 137, 137);
    height: 50PX;
 }